* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}

header {
    background-color: black;
    height: 60px; 
    width: 100%;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

main {
    margin-left: auto;
    margin-right: auto;
    Margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100vw;
    width: 90vw;
}

.tile {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 202px;
    min-height: 127px;
    position: relative;
}

img {
    width: 200px;
    height: 125px;
    margin: auto;
}

i {
    background-color: grey;
}

.name {
    background-color: grey;
    line-height: 20px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 4px;
    font-size: 12px;
    padding: 1.5%;

}

footer {
    min-height: 70px;
    width: 100%;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;

}
