* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    height: 60px; 
    width: 100%;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

a {
    text-decoration: none;
    color: white;
}

#top-menu {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-size: 12px;
}

.top-menu-item p {
    background-color: grey;
    overflow-wrap: unset;
    white-space: nowrap;
}

.top-menu-item i {
    background-color: grey;
}


.top-menu-item {
    display: inline-flex;
    flex-wrap: nowrap;
    border-radius: 5px;
    background-color: grey;
    height: 20px;
    margin: 15px 5px;
    vertical-align: center;
    padding: 3%;
    max-width: 200px;
}

main {
    margin-left: auto;
    margin-right: auto;
    Margin-top: 60px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100vw;
    width: 90vw;
}

.tile {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 202px;
    min-height: 127px;
    position: relative;
}

img {
    width: 200px;
    height: 125px;
    margin: auto;
}

.fa-microphone-slash {
    background-color: grey;
}


.name {
    position: absolute;
    left: 0;
    bottom: 4px;
    padding: 1.5%;
    background-color: grey;
    font-size: 12px;
    color: white;

}

footer {
    min-height: 70px;
    width: 100%;
    background-color: #252424;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.left-col {
    color: white;
    font-size: 12px;
    background-color: #252424;
}

.bottom-menu-icon {
    height: 50px;
    width: 50px;
}

.bottom-menu-icon i {
    width: 50%;
    height: 50%;
}  
}
